a{
    text-decoration: none;
}
.main_body{
    font-family: 'Montserrat', sans-serif;

    height: 100%;
    width: 100%;
    background-image: url("/template/images/Chor/10.jpg");

    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;

}
