a{
    text-decoration: none;
}
.main_body{
    background: url(/template/images/Chor/10.jpg);
    background-color: rgba(1,1,1, 0.6);
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
}